*{
    padding: 0;
    margin: 0;
}
.navbar{
    font-size: 40px;
}
body{
    background-color: black;
    width: 100%;
    height: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}
.navbar-brand{
    font-size: 40px;
}
.carousel-inner{
    height: 100%;
}
.arousel-inner img{
 
 
    width: 100%;
    height: 100%;
    
}
H1{
    font-size: 50px;
    text-align: center;
}

.card-body{
   background-color: black;
   color: white;
   font-family: 'Times New Roman', Times, serif;
}
.card:hover{
    box-shadow: 20px 5px 5px  gray;
}
.btn{
    border: 1px solid white;
    border-radius: 10px;
    font-size: 30px;
}
.alert-danger{
    border: 10px dashed red;
}
.alert-warning{
    border: 15px dashed yellow;

}
.alert-info{
    border: 10px dashed blue    ;

}