* {
    padding: 0;
    margin: 0;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
}
.navbar {
    font-size: 40px;
}
html{
    min-height: 100%;
    height: 100%; 
}

body {
    background-color: black;
    min-height: 100%;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}
.card{
    border: 10px dashed wheat;
}
.navbar-brand {
    font-size: 40px;
}

.carousel-inner {
    height: 100%;
}

.arousel-inner img {


    width: 100%;
    height: 100%;

}


.card-body {
    background-color: black;
    color: white;

}


.btn {
    border: 1px solid white;
    border-radius: 10px;
    font-size:25px;
}

.alert-danger {
    border: 10px dashed red;
}

.alert-warning {
    border: 15px dashed yellow;

}

.alert-info {
    border: 10px dashed blue;

}